 <p>
  You've come to the island of rabbits and bunnies to make some new friends. Some bunny friends.

</p>
<blockquote>
  The web version of the game takes a long time to parse the world map. If
  you're having persistent issues try out the builds for Windows or Linux, or
  the love file included with this project
</blockquote>

<div class="custom-centred">
  <img class="custom-centred" src="https://img.itch.zone/aW1nLzEyMzc4MzA5LmdpZg==/original/VJJ8mW.gif"/>
</div>

<p>
  <strong>Goal: </strong>Explore the island and make as many bunny friends as possible.<br />
</p>

<p><strong>Controls: </strong><br /></p>
<ul>
  <li>Move with WSAD / LRUD</li>
  <li>Tab to switch between food and balls</li>
  <li>c to crouch</li>
  <li>To throw balls or food hold down the right mouse button and draw back the mouse like a slingshot</li>
</ul>
<p>
</p>

<div class="custom-centred">
  <img class="custom-centred" src="https://img.itch.zone/aW1nLzEyMzc4Mjk3LmdpZg==/original/G0dC32.gif"/>
</div>


<p>
<strong>Source: </strong>The source code for Potions is
released under the GPL3+ Licence and the art is available under the CC-BY
licence. Both are available at
<a href="https://gitlab.com/alexjgriffith/battlin-bunnies"> https://gitlab.com/alexjgriffith/battlin-bunnies</a>
</p>

<H2>Credits </H2>
<hr>
<div>
<div>The following work was used in the creation of this game. No modifications were made.<br></div>
<div><strong>Title:</strong> Splash (Sound Effect) <br></div>
<div><strong>Author:</strong> nicStage <br></div>
<div><strong>URL:</strong> <a href="https://freesound.org/people/nicStage/sounds/60907/">
  https://freesound.org/people/nicStage/sounds/60907/</a> <br></div>
<div><strong>License(s):</strong> <a href="https://creativecommons.org/licenses/by/4.0/">CCBY-4.0</a></div>
</div>
<hr>

<div>
<div>The following work was used in the creation of this game. No modifications were made.</div>
<div><strong>Title:</strong> Crunch (Sound Effect)</div>
<div><strong>Author:</strong> InspectorJ</div>
<div><strong>URL:</strong> <a href="https://opengameart.org/content/page-turning-sfx-sound-effect"> https://freesound.org/people/InspectorJ/sounds/352206/</a></div>
<div><strong>License(s):</strong> <a href="https://creativecommons.org/licenses/by/4.0/">CCBY-4.0</a></div>
</div>
<hr>

<div>
<div>The following work was used in the creation of this game. No modifications were made.</div>
<div><strong>Title:</strong> Page (Sound Effect)</div>
<div><strong>Author:</strong> Nicole Marie T</div>
<div><strong>URL:</strong> <a href="https://opengameart.org/content/page-turning-sfx-sound-effect"> https://opengameart.org/content/page-turning-sfx-sound-effect</a></div>
<div><strong>License(s):</strong> <a href="https://creativecommons.org/licenses/by/4.0/">CCBY-4.0</a></div>
</div>
<hr>

<div>
<div>The following work was used in the creation of this game. No modifications were made.</div>
<div><strong>Title:</strong> Bounce (Sound Effect)</div>
<div><strong>Author:</strong> Blender Foundation</div>
<div><strong>URL:</strong> <a href="https://opengameart.org/content/funny-comic-cartoon-bounce-sound">https://opengameart.org/content/funny-comic-cartoon-bounce-sound</a></div>
<div><strong>License(s):</strong> <a href="https://creativecommons.org/licenses/by/4.0/">CCBY-4.0</a></div>
</div>
<hr>

<div>
<div>The following work was used in the creation of this game. No modifications were made.</div>
<div><strong>Title:</strong> 5 ChipTunes Action (Music)</div>
<div><strong>Author:</strong> SubspaceAudio</div>
<div><strong>URL:</strong> <a href="https://opengameart.org/content/5-chiptunes-action"> https://opengameart.org/content/5-chiptunes-action</a></div>
<div><strong>License(s):</strong> CC0</div>
</div>
<hr>
