div.custom-centred{
    display:flex;
    justify-content:center
}
img.custom-centred{
    width:90%;
    border-radius: 15px;
    border: 5px solid #1a222e;
}
.custom-caption{
    text-align:center;
    padding-bottom:20px;
    padding-top:10px;
    width:100%
}

.custom-hundred{
    width:100%
}
h2.custom-centred{
    width:100%;
    text-align:center
}


/* .html_embed_widget .button.load_iframe_btn, .html_embed_widget .button.restore_btn { */
/* transform: translate(0px,-100px); */
/* } */

.view_game_page.view_html_game_page .embed_wrapper {
    margin: 0px 0;
}

.game_frame {
height: 360px;
}


@media only screen and (min-width:1000px){
div.inner_column{
    border-left: 5px solid #1a222e;
    border-right: 5px solid #1a222e;
}
    
img.screenshot{
    border-radius: 15px;
    width:347;
    border: 5px solid #1a222e;
}
div.video_embed{
width:97%;
}
/* div.video_embed{ */
/*     border-radius: 15px; */
/*     width:347; */
/*     border: 5px solid #663921; */
/* } */
}
